<!Doctype html>
<html>
    <head>
        <!-- <style>
            body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style> -->
    </head>
    <body>
        <div>
            <form action="/" method="POST">
                <input name="city" type="text" placeholder="Enter a City" required>
                <input type="submit" value="Get Weather">
               
            </form>
        </div>
    </body>
</html>